---
// src/components/Logo.astro
---

<a href="/" class="flex items-center space-x-3">
  <!-- SIN ml-15 - posición original -->
  <img src="/img/sl.png" alt="Carpintería Metálica José María" class="h-10 w-10 object-contain" />
</a>
